---
title: Ruby vs. JavaScript
---
<div class="container">
    <table>
        <caption><h3>Quick Syntax</h3>
        </caption>
        <thead>
            <tr>
                <th>Keywords</th>
                <th>Ruby</th>
                <th>JavaScript</th>
            </tr>
        </thead>
        <tbody>
            <% data.basics.each do |c| %>
            <tr>
                <td>
                     <%= c.keyword %>
                </td>
                <td>
                    <pre class="lang1"><%= c.ruby %></pre>
                </td>
                <td>
                    <pre class="lang2"><%= c.js %></pre>
                </td>
            </tr>
            <% end %>
            <!-- Whatever is here will appear at the top -->
            <% data.functions.each do |f| %>
            <tr>
                <td>
                    <%= f.keyword %>
                </td>
                <td>
                    <pre class="lang1"><%= f.ruby %></pre>
                </td>
                <td>
                    <pre class="lang2"><%= f.js %></pre>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
