---
title: Ruby vs. JavaScript
---
<div class="container">
    <table>
        <caption>
            <h3>Quick Syntax</h3>
            <ul class=list-links">
                <li><a href="js.html">Javascript</a></li>
                <!-- <li><a href="#">HTML tags</a></li> -->
            </ul>
        </caption>
        <thead>
            <tr class="table-header">
                <th class="header-keywords">Keywords</th>
                <th class="header-first-lang">Ruby</th>
                <th class="header-second-lang">JavaScript</th>
            </tr>
        </thead>
        <tbody>
            <% data.basics.each do |c| %>
            <tr class="row-basics">
                <td>
                    <%= c.keyword %>
                </td>
                <td>
                    <pre class="lang1"><%= c.ruby %></pre>
                </td>
                <td>
                    <pre class="lang2"><%= c.js %></pre>
                </td>
            </tr>
            <% end %>
            <!-- Whatever is here will appear at the top -->
            <% data.functions.each do |f| %>
            <tr class="row-functions">
                <td>
                    <%= f.keyword %>
                </td>
                <td>
                    <pre class="lang1"><%= f.ruby %></pre>
                </td>
                <td>
                    <pre class="lang2"><%= f.js %></pre>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
